.game {
  display: inline-block;
  float: left;
  width: 78vw;
  position: relative;
  background-color: magenta;
  height: 100vh;
}

.hero {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: yellow;
  border: solid white 1px;
}

.gem {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: green;
  border: solid white 1px;
}
